@import "./assets/styles/index.scss";
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #0b7ad0;
  height: 55px;
  .header_logo {
    height: 30px;
    width: 40px;
  }
  .header_nav {
    flex-direction: row;
    display: flex;
    > div {
      border-left: 1px solid white;
      border-right: 1px solid white;
      border-collapse: collapse;
      padding: 0 20px;
    }
  }
  .search_input {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #0b7ad0;
    input {
      border: none;
      background-color: transparent;
      color: white;
      &::placeholder {
        color: #f5f8fa;
      }
    }
  }
  .header_notification {
    background-color: #f5f8fa;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0b7ad0;
    width: 30px;
    height: 50%;
    border: 1px solid;
    border-radius: 30px;
  }
  .header_notification_count {
    width: 8px;
    height: 50%;
    position: relative;
    bottom: 7px;
  }
  .header_user_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #f5f8fa;
  }
  .header_user_menu_icon {
    position: relative;
    top: 4.5px;
  }
}
